# KiCAD backup and cache files
**/*-bak
**/*-cache.*
**/fp-info-cache
# emacs backup files
**/*~
# other backup files
**/*.bak
**/*.bck
# Eclipse files
**/.*project
**/.settings
# Build files
**/*.d
**/*.o
